# Statistics and Programming Exercises

## Socks from a Box
Let's say we have a box filled with socks: three pairs each of white, gray, and black socks (i.e. six socks of each of the three colors, for eighteen socks in total). In each of the questions below, we draw socks randomly from the box without replacement. Note that a pair of matching socks is simply two of the same color: each sock will fit a foot of either handedness â€“ uh, footedness. (Socks do not have chirality, for those into mathematical terms.)

Input your answers as fractions or as decimals with at least four digits of precision.

Let's say we draw two socks from the box. What is the probability that we draw a matching pair?

In [2]:
white, grey, black = 6,6,6
total = sum([white, grey, black])

In [30]:
probability_pair_one_color = white/float(total) * (white-1)/(total-1)

In [31]:
probability_pair_any_color = probability_pair_one_color * 3

In [32]:
round(probability_pair_any_color,4)

0.2941

In [37]:
numerator = 6*5
denominator = 18*17
gcm = gcd(numerator, denominator)
#print str(numerator/gcm) + "/" + str(denominator/gcm)
numerator /= gcm
denominator /= gcm
print "probability for a matching pair of one color:"
print str(numerator) + "/" + str(denominator)
print "probability for a matching pair of any color:"
print str(numerator*3) + "/" + str(denominator)

probability for a matching pair of one color:
5/51
probability for a matching pair of any color:
15/51

In [38]:
round(15/51.,4)

0.2941

In [55]:
def combinations_without_repetition(n,r):
    """choose r from n"""
    from math import factorial
    return float(factorial(n))/(factorial(r)*factorial(n-r))

In [56]:
def comb_wo_rep(n,r):
    return combinations_without_repetition(n,r)

In [57]:
comb_wo_rep(6,2)/comb_wo_rep(18,2)

0.09803921568627451

In [58]:
comb_wo_rep(6,3)/comb_wo_rep(18,3)

0.024509803921568627

In [59]:
comb_wo_rep(6,3)

20.0

In [60]:
comb_wo_rep(18,3)

816.0

In [61]:
gcd(20*3, 816)

12

In [62]:
20*3/12

5

In [63]:
816/12

68

In [83]:
probability_pair_one_color = white/float(total) * (white-1)/(total-1) * (white-2)/(total-2)
print probability_pair_one_color

0.0245098039216

In [84]:
probability_pair_any_color = probability_pair_one_color * 3
print probability_pair_any_color

0.0735294117647

In [66]:
round(probability_pair_any_color,4)

0.0735

In [67]:
5/68.

0.07352941176470588

In [93]:
from itertools import combinations, ifilter
from fractions import gcd
def has_pair(tuple_x3):
    x, y, z = tuple_x3
    return (x == y or y == z or x == z)

choices = 'WGB'*6

numerator = sum((x == y or y == z or x == z) for x, y, z in combinations(choices, 3))
sum(has_pair(combination) for combination in combinations(choices, 3))
denominator = len(list(combinations(choices, 3)))
print "unreduced fraction:\n", str(numerator) + "/" + str(denominator)
gcm = gcd(numerator, denominator)
numerator /= gcm
denominator /= gcm
print "reduced fraction:\n", str(numerator) + "/" + str(denominator)

unreduced fraction:
600/816
reduced fraction:
25/34

In [81]:
gcd(45, 153)

9

In [82]:
print 45/9, 153/9

5 17

In [96]:
choices = 'WGB'*6
print sum(1 for combination in combinations(choices, 3))
print sum((x == y or y == z or x == z) for x, y, z in combinations(choices, 3))
print len(list(ifilter(has_pair, combinations(choices, 3))))
print sum(has_pair(combination) for combination in combinations(choices, 3))
print sum(len(set(combination)) != len(combination) for combination in combinations(choices, 3))

816
600
600
600
600

## Candy Conundrum
I have two bowls of candy. One is supposed to be filled with candy-covered chocolates, the other filled with fruit-flavored candies with candy shells. Unfortunately, someone has nefariously mixed up the contents of the two bowls, mixing a portion of one bowl into the second, and vice versa. Even worse, the candies are visually indistinguishable, and can only be sorted out by taste.

I know that one of the bowls (A) has candies in the following proportions: A ~ {2/3 chocolate, 1/3 fruity}, while the other bowl (B) has candies in the following proportion: B ~ {1/4 chocolate, 3/4 fruity}. Assume for the questions below that both bowls are large enough that small samples will not have a practical effect on the distribution of candies.

Input your answers as fractions or as decimals with at least four digits of precision.

I select a bowl at random and choose a random candy. It's a chocolate candy! What is the probability that I've picked up bowl A (the one weighted towards chocolates)?

$P(A|C) = P(A \cap C)/P(C)$

In [112]:
p_c = 0.5 * 2/3 + 0.5 * 1/4
p_auc = 0.5 * 2/3
p_ac = p_auc/p_c
print p_ac

0.727272727273

Continuing with the same bowl as before, I select two more candies. They are both fruity candies. What is the probability that I've picked up bowl A (the one weighted towards chocolates) now? (To clarify, there are three candies drawn in all: one chocolate and two fruity.)

$P(A \mid CFF) = P(A \cap CFF)/P(CFF)$

In [116]:
p_aucff = 0.5 * 2/3 * 1/3 * 1/3
p_cff = 0.5 * 2/3 * 1/3 * 1/3 \
      + 0.5 * 1/4 * 3/4 * 3/4
p_acff = p_aucff / p_cff
print p_acff

0.345013477089

## Football Statistics
Click this link to download a dataset in csv format that you will use to answer the questions on this page. This data file contains a table of results of the 2015-16 Premier League season for English association football. All participating teams are represented in the dataset.

In [20]:
# import pandas
import pandas as pd

In [21]:
# load data set
filename = '2015-16-premier-league.csv'
premier_league_df = pd.read_csv(filename)

In [22]:
# check table layout like column names, etc.
premier_league_df.head(3)

           Team Name  Wins  Draws  Losses
0     Leicester City    23     12       3
1            Arsenal    20     11       7
2  Tottenham Hotspur    19     13       6

In [23]:
# get summary statistics for 'Wins' column
premier_league_df['Wins'].describe()

count    20.000000
mean     13.650000
std       4.944694
min       3.000000
25%      10.750000
50%      12.000000
75%      18.250000
max      23.000000
Name: Wins, dtype: float64

In [24]:
# most questions can be answered using the summary stats 
# with the exception of standard deviation from the describe
# method, but the information was pulled individually for
# practice.

What is the mean number of wins recorded by teams? (Wins can be found as the second column of the table, or first numeric value in each row.)

Input your answer as a fraction or as a decimal with at least four digits of precision.

In [25]:
premier_league_df['Wins'].mean()

13.65

What is the median number of wins?

In [26]:
premier_league_df['Wins'].median()

12.0

What is the standard deviation for the number of wins?

Input your answer as a fraction or as a decimal with at least four digits of precision.

In [27]:
# data is for entire population, so ddof = 0 needs to be set to yield population std dev
premier_league_df['Wins'].std(ddof=0)

4.819491674440366

What is the interquartile range for the number of wins?

In [29]:
Q1 = premier_league_df['Wins'].quantile(0.25)
Q3 = premier_league_df['Wins'].quantile(0.75)
print "Q1:", Q1
print "Q3:", Q3

Q1: 10.75
Q3: 18.25

In [31]:
IQR = Q3-Q1
print "interquartile range:", IQR

interquartile range: 7.5

## Running a Paired T-test in a Spreadsheet
To practice running a t-test, open up the Super Hero Data Matched at the end of the page. In that data set, you'll see five superheroes and five super villains. Each super hero is matched with the corresponding rival.

On average, the villains appear to be smarter and the heroes appear to be stronger. A t-test can tell us whether the differences in intelligence and strength are statistically significant.

Try it on your own. If you get stuck, take a look at the Super Hero Data Matched Solution file.

In [32]:
# import pandas
import pandas as pd

In [33]:
# load data set
filename = 'superherodata.csv'
superhero_df = pd.read_csv(filename)

In [34]:
superhero_df.head(3)

,Name,Alignment,Intelligence,Strength,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Iron Man,good,100.0,85.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Captain America,good,63.0,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Hulk,good,88.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
good_guys = superhero_df[superhero_df['Alignment'] == 'good']
bad_guys = superhero_df[superhero_df['Alignment'] == 'bad']

In [40]:
from scipy.stats import stats

t, p = stats.ttest_ind(good_guys['Intelligence'],bad_guys['Intelligence'])
print("t = " + str(t))
print("p = " + str(2*p))

t = -1.1205095545912165
p = 0.5773700639460689

In [41]:
t, p = stats.ttest_ind(good_guys['Strength'],bad_guys['Strength'])
print("t = " + str(t))
print("p = " + str(2*p))

t = 1.1147174588142275
p = 0.582088817603504

## Practice with T-Tests
Joey and Nathaly both work as managers in the customer service department for a company. Joey and Nathaly have very different styles of managing their employees, and your boss is interested in knowing if one style leads to faster service times than the other.

Your boss had a time study commissioned to shadow various customer service representatives at the company and record how long it took them to do several steps in their daily workflow. Because both Joey and Nathaly manage fairly large teams, only a handful of individuals were shadowed on each team. Use the time study data to determine if there is evidence that manager style affects speed of service.

### Jupyter Notebook
The data is preloaded into the Jupyter Notebook below. Complete your analysis in the notebook using the Customer Support Time Study.csv file. Use a two-tailed, unequal variance t-test for your analysis. Once you've run the test, answer the quizzes below. If you're having trouble arriving at the right answer, take a look at the solution file in the notebook by clicking File -> Open within the Jupyter notebook.

In [44]:
# Import packages
import pandas as pd
import scipy.stats as stats

In [45]:
# load data set
filename = 'Customer Support Time Study.csv'
time_study_df = pd.read_csv(filename)

In [46]:
# check out data formatting
time_study_df.head(3)

   Nathaly   Joey
0    15.06  19.53
1    15.43  17.41
2    15.91  14.30

In [47]:
# Write you code here to perform the t-test

# name panda series for easy reference in t-test
a = time_study_df['Nathaly']
b = time_study_df['Joey']

In [48]:
# unequal variance
print("Unqual variance")
t, p = stats.ttest_ind(a,b,equal_var=False)
print("t = " + str(round(t,4)))
print("p = " + str(round(p,4)))

Unqual variance
t = -2.557
p = 0.0231

In [49]:
# equal vaiance
print("Equal variance")
t, p = stats.ttest_ind(a,b,equal_var=True)
print("t = " + str(round(t,4)))
print("p = " + str(round(p,4)))

Equal variance
t = -2.557
p = 0.0198

What is the t-statistic that results from a two-tailed, equal variance t-test of the average time of workers on Joey's team vs. Nathaly's team? Give your answer to four decimal places.

In [50]:
# -2.5570

What is the p-value that results from of a two-tailed, equal variance t-test of the average time of workers on Joey's team vs. Nathaly's team? Found your answer to four decimal places.

In [51]:
# 0.0198

Based on the results above, would you reject or fail to reject the null hypothesis that Joey's management style does not have an effect on worker speed? Use a 5% level for statistical significance.

In [52]:
# reject null hypothesis that there is no difference. t-stat shows difference in mean with p value < 0.05.

## Most frequent word

Programming is an essential part of this Nanodegree program.

Complete the most_frequent() function below so that it returns the most frequently occurring word in a given string.

For example, if the input s is s = 'I scream you scream we all scream for ice cream', the result should be scream as it is the most frequent word in this sentence.

If there is a tie for the most common word, return only one result, the first (tied) word in alphabetical order.

NOTE: This quiz will be evaluated in Python 2.7.

In [100]:
"""Quiz: Most Frequent Word"""

def most_frequent(s):
    """Return the most frequently occuring word in s."""
    
    # HINT: Use the built-in split() function to transform the string s into an
    #       array
    
    # HINT: Sort the new array by using the built-in sorted() function or
    #       .sort() list method
    
    # HINT: Iterate through the array and count each occurance of every word
    #       using the .count() list method
    
    # HINT: Find the number of times the most common word appears using max()
    
    # HINT: Locate the index of the most frequently seen word
    
    # HINT: Return the most frequent word. Remember that if there is a tie,
    #       return the first (tied) word in alphabetical order.
    words = sorted(s.split())
    max_count = 0
    max_word = ''
    for word in set(words):
        word_count = words.count(word)
        if word_count > max_count:
            max_word = word
            max_count = word_count
    return max_word


def test_run():
    """Test most_frequent() with some inputs."""
    print most_frequent("cat bat mat cat bat cat") # output: 'cat'
    print most_frequent("betty bought a bit of butter but the butter was bitter") # output: 'butter'
    
"""
if __name__ == '__main__':
    test_run()
"""
test_run()

cat
butter

In [101]:
# another method that reduces traversal of list elements
# by eliminating `count` for every word
"""Quiz: Most Frequent Word"""

def most_frequent(s):
    """Return the most frequently occuring word in s."""
    # sort word list into a dictionary of word: frequency pairs
    word_counts = {}
    for word in s.split():
        try:    word_counts[word] += 1
        except: word_counts[word] = 1
    # find the maximum frequency
    max_count = max(word_counts.values())
    # get all words that have max frequency
    max_words = [word for word, qty in word_counts.items() if qty == max_count]
    # sort list of max-frequency words and return first
    return sorted(max_words)[0]

def test_run():
    """Test most_frequent() with some inputs."""
    print most_frequent("cat bat mat cat bat cat") # output: 'cat'
    print most_frequent("betty bought a bit of butter but the butter was bitter") # output: 'butter'
    
"""
if __name__ == '__main__':
    test_run()
"""
test_run()

cat
butter

### Date Projection
Complete the `which_date()` function below which returns the day that follows a specified time period after an initial date. Time periods can be specified in two different ways: as a number of days like "1 day" or "30 days", or as a number of weeks like "2 weeks" or "12 weeks".

HINT: Python's datetime module will be very useful for solving this problem! documentation: https://docs.python.org/2/library/datetime.html

NOTE: This quiz will be evaluated in Python 2.

In [84]:
def which_date(start_date,time):
    """
    This function takes as input a string depicting a date in YYYY/mm/dd
    format and a string stating a time period in the form of "X day(s)" or
    "Y week(s)". Output should be a string in form YYYY/mm/dd with the date
    that is X days or Y weeks after the initial date.
    """
    from datetime import datetime, timedelta
    # reformat and store `start_date` as a datetime object
    start_date = datetime(*map(int,start_date.split('/')))
    # split the time difference into integer and unit and
    # format unit (add 's') so it is a valid argument in `timedelta`
    time = time.split()
    if time[1][-1] != 's':
        time[1] += 's'
    # change `time` to a `timedelta` object
    time = timedelta(**{time[1]: int(time[0])})
    # calculate new time and return as formatted str
    return (start_date + time).strftime("%Y/%m/%d")
    
def test():
    """
    Here are a few tests to check if your code is working correctly! This
    function will be run when the Test Run button is selected. Additional
    tests that are not part of this function will also be run when the Submit
    Answer button is selected.
    """
    """
    assert which_date('2016/02/10','35 days') == '2016/03/16'
    assert which_date('2016/12/21','3 weeks') == '2017/01/11'
    assert which_date('2015/01/17','1 week') == '2015/01/24'
    """
    print which_date('2016/02/10','35 days')
    print which_date('2016/12/21','3 weeks')
    print which_date('2015/01/17','1 week')
    print("All tests completed.")

"""
if __name__ == "__main__":
    test()
"""
test()

2016/03/16
2017/01/11
2015/01/24
All tests completed.